@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Registration has been confirmed";
}
<h1>@ViewData["Title"]</h1>
<p>
    Your account have been created. Please <a asp-page="./Login">click here to log in</a>.
</p>
