@using HermesModels.User
@model List<AspNetUser>
<div class="chat-side-bar group-border">
    <h4 class="group-chat-header">People Online</h4>
    <div id="people-online">
        @for (int  i = 0; i < Model.Count; i++)
        {
        <div class="center">
            <img src="~/images/temp-avatar.jpg" class="person-avatar" /> @*CHANGE IMAGE BACKGROUND TO BE TRANSPARENT TODO*@
            <img src="~/images/status-green-circle.png" class="online-status" /> @*CHANGE IMAGE BACKGROUND TO BE TRANSPARENT TODO*@
            <div class="group-chat-user">@Model[i].UserName</div>
            @*DO ---- IMAGE OF PERSON - USERNAME - STATUS TODO*@
        </div>
        }
        <hr />
    </div>
</div>