@model HermesModels.Chat.ChatInformationViewModel

    <head>
        <link href="~/css/chat.css" rel="stylesheet" />
    </head>

@section scripts {
    <script src="@Url.Content("~/bundle/chatbundle.js")"></script>
}

<body>
    <div style="display: contents;">
        @await Html.PartialAsync(MVC.Chat.Views.Partial._UsersOnlinePanel, Model.UsersOnline)
        <div style="height: 98%;">
            <div class="chat chat-border">
                <h4 class="chat-header">Global Chat</h4>
                @await Html.PartialAsync(MVC.Chat.Views.Partial._MessageHistory, Model.ChatSendersWithMessages)
            </div>
            @using (Html.BeginForm(MVC.Chat.SendMessageAsync(), FormMethod.Post, htmlAttributes: new { @class = "chat-form" }))
            {
                @await Html.PartialAsync(MVC.Chat.Views.Partial._SendMessageForm, Model.UserMessageToSendPlaceHolder)
            }
        </div>
    </div>
</body>