<div id="upload-pic" class="upload-container scale-ss hidden"> @*BEWARE OF DUPLICATED ID's*@
    <label for="file-input" style="cursor:pointer; display: contents;">
        <img class="icon left" src="~/images/uploadico.jpg" />
        <p class="text-s-b">UPLOAD</p>
    </label>
    <input name="UploadedFile" id="file-input" type="file" style="display:none;" />
</div>